    
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang Chủ</title>
    <th:block th:insert="~{layout/base :: styleBase}"></th:block>
    <th:block th:insert="~{layout/base :: scriptBase}"></th:block>
</head>

<body>
    <header th:replace="~{layout/base :: header}"></header>
    <main class="container mt-4" th:fragment="~{layout/base :: main}">
        <h1>Xin Chao</h1>
        <ul>
            <li th:each="post : ${posts}">
                <p th:text="${post.content}"></p>
            </li>
        </ul>

        <div th:if="${totalPages > 1}">
            <a th:each="i : ${#numbers.sequence(0, totalPages - 1)}" 
               th:href="@{/search(keyword=${keyword}, page=${i}, size=10)}"
               th:text="${i + 1}"></a>
        </div>
    </main>
    <footer th:replace="~{layout/base :: footer}"></footer>
</body>
</html>